[submodule "lora-network-server"]
	path = lora-network-server
	url = https://github.com/xisiot/lora-network-server.git
[submodule "lora-network-connector"]
	path = lora-network-connector
	url = https://github.com/xisiot/lora-network-connector.git
[submodule "lora-join-server"]
	path = lora-join-server
	url = https://github.com/xisiot/lora-join-server.git
[submodule "lora-network-controller"]
	path = lora-network-controller
	url = https://github.com/xisiot/lora-network-controller.git
